{% extends 'base/base.html' %}

{% block content %}

    <h1>Home</h1>
    <div class="card bg-pri">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <h2>New Task</h2>
                <div class="mb-3">
                    <label for="exampleColorInput" class="form-label">Color picker</label>
                    <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#EFD9CE" title="Choose your color" name="color">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name your task" name="taskTitle">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="taskDescription"></textarea>
                    
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-pri">Add Task</button>
                </div>
            </form>
        </div>
    </div>

    {% for task in tasks %}
    {% if task.user == request.user and task.is_complete != True %}
        <div style="width: 20px; height: 20px;"></div>
        <div class="card text-center" id="task-card-{{ task.id }}">
            <div class="card-header">
            {% if task.due %}
                {{ task.due }} {{ task.due_time }}
                {% else %}
                Task
            {% endif %}
            <button class="btn btn-info remove-btn fr" data-catid="{{ task.id }}">complete</button>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            </div>
            <div class="card-footer text-muted">
                <div style="display: inline-block;">
                    <button class="btn btn-dark progressbutton" style="width: 60px; padding: 2px;" will-increase="0" data-catid="{{ task.id }}">-10%</button>
                </div>

                <div style="display: inline-block; width: 75%;"> 
                    <div class="progress">
                        <div style="
                            width: {{ task.progress }}%;
                            background: {{ task.color }};

                            "  
                            class="progress-bar" 
                            role="progressbar" 
                            aria-label="Default striped example" 
                            aria-valuenow="{{ task.progress }}" 
                            aria-valuemin="0" 
                            aria-valuemax="100"
                            id="progressbar-{{ task.id }}">
                        </div>
                    </div>
                </div>

                <div style="display: inline-block; width: 10%;">
                    <button class="btn btn-dark progressbutton" style="width: 60px; padding: 2px;" will-increase="1" data-catid="{{ task.id }}">+10%</button>
                </div>
                
            </div>
        </div>
    {% endif %}
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        let activeLink = document.getElementById("home-side-link");
        activeLink.classList.add("active");
        $('.remove-btn').off('click').on('click', 
            function() {
                console.log("Removing ");
                let catid = $(this).attr("data-catid");
                $.ajax(
                    {
                        type: "GET",
                        url: "/remove",
                        data: {
                            task_id: catid,

                        },
                        success: function( data ) {
                            console.log(data);
                            if (data == "True") {
                                $('#task-card-' + catid)[0].style.display = "none";
                            }
                                
                        }
                    }
                )
            }
        )
        $('.progressbutton').off('click').on('click', 
            function() {
                console.log("This works");
                let catid = $(this).attr("data-catid");
                let will_increase = $(this).attr("will-increase");
                $.ajax(
                    {
                        type: "GET",
                        url: "/changeprogress",
                        data: {
                            task_id: catid,
                            will_increase: will_increase
                        },
                        success: function( data )
                        {
                            $( '#progressbar-' + catid)[0].style.width = data["progress"] + "%";
                            $( '#progressbar-' + catid).AriaValueNow = data["progress"];
                        }
                    }
                )
            }
        )
        {% if user.profile.random_colors %}
        const color = Math.floor(Math.random()*16777215).toString(16);
        document.getElementById("exampleColorInput").value = "#" + color 
        {% endif %}
    </script>

{% endblock content %}